*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#fffdf7;
color:#333;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:white;
border-bottom:1px solid #eee;
}

.logo{
font-size:24px;
font-weight:bold;
color:#f4a300;
}

nav a{
margin-left:20px;
text-decoration:none;
color:#333;
font-weight:500;
}

nav a:hover{
color:#f4a300;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
background:#fff6d8;
}

.hero h1{
font-size:42px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.hero button{
padding:12px 30px;
border:none;
background:#f4a300;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

.hero button:hover{
background:#d98d00;
}

/* FEATURES */

.features{
padding:80px 10%;
text-align:center;
}

.feature-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.feature{
background:white;
padding:30px;
border-radius:10px;
width:250px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* FOOTER */

footer{
margin-top:60px;
text-align:center;
padding:40px;
background:#333;
color:white;
}
.products,
.wholesale,
.dealer,
.about,
.contact{
padding:80px 10%;
text-align:center;
}

.product-container,
.wholesale-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.product,
.wholesale-box{
background:white;
padding:30px;
border-radius:10px;
width:250px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input, textarea{
padding:12px;
border:1px solid #ddd;
border-radius:5px;
}

form button{
padding:12px;
background:#f4a300;
border:none;
color:white;
cursor:pointer;
border-radius:5px;
}